{
    "configurations": [
        {
            "name": "Run",
            "type": "debugpy",
            "request": "launch",
            "subProcess": true,
            "justMyCode": true,
            "console": "integratedTerminal",
            "program": "${config:odevPath}",
            "cwd": "${workspaceFolder:project}",
            "python": "${config:pythonPath}",
            "consoleName": "Odev Run",
            "args": [
                "run",
                "${config:odoo.db}",
                "--log-level=${config:odoo.logLevel}",
                "--dev=xml",
                "--update=${config:odoo.modules}",
                "--log-handler=odoo.addons.base.models.ir_attachment:WARNING",
                "--limit-time-cpu=0",
                "--limit-time-real=0",
                "--max-cron-threads=1",
            ]
        },
        {
            "name": "Test",
            "type": "debugpy",
            "request": "launch",
            "subProcess": true,
            "justMyCode": true,
            "console": "integratedTerminal",
            "program": "${config:odevPath}",
            "cwd": "${workspaceFolder:project}",
            "python": "${config:pythonPath}",
            "consoleName": "Odev Test",
            "args": [
                "run",
                "${config:odoo.db}",
                "--init=${config:odoo.modules}",
                "--test-tags=${config:odoo.testTags}",
                "--log-level=${config:odoo.logLevel}",
                "--dev=xml",
                "--update=${config:odoo.modules}",
                "--log-handler=odoo.addons.base.models.ir_attachment:WARNING",
                "--limit-time-cpu=0",
                "--limit-time-real=0",
                "--max-cron-threads=1",
                "--stop-after-init",
            ]
        },
        {
            "name": "Test without odev",
            "type": "debugpy",
            "request": "launch",
            "console": "integratedTerminal",
            "program": "./odoo/odoo-bin",
            "cwd": "${workspaceFolder:odoo}",
            "consoleName": "Test without odev",
            "args": [
                "--init=${config:odoo.modules}",
                "--test-tags=${config:odoo.testTags}",
                "--database=${config:odoo.db}_test",
                "--addons-path=./odoo/addons,./enterprise,${workspaceFolder:project}",
                "--log-level=${config:odoo.logLevel}",
                "--limit-time-cpu=0",
                "--limit-time-real=0",
                "--stop-after-init",
                "--max-cron-threads=1",
            ]
        },
        {
            "name": "Shell",
            "type": "debugpy",
            "request": "launch",
            "subProcess": true,
            "justMyCode": true,
            "console": "integratedTerminal",
            "program": "${config:odevPath}",
            "cwd": "${workspaceFolder:project}",
            "python": "${config:pythonPath}",
            "consoleName": "Odev Shell",
            "args": [
                "shell",
                "${config:odoo.db}",
                "--update=${config:odoo.modules}",
                "--log-level=${config:odoo.logLevel}",
                "--dev=xml",
                "--limit-time-cpu=0",
                "--limit-time-real=0",
                "--max-cron-threads=1",
            ]
        },
    ]
}
