{
    "version": "2.0.0",
    "tasks": [
        {
            "label": "~Init Database",
            "command": "${config:pythonPath}",
            "problemMatcher": [],
            "args": [
                "${config:odevPath}",
                "create",
                "-f",
                "-V",
                "{{ DB_VERSION }}",
                "${config:odoo.db}",
                "--init",
                "${config:odoo.modules}",
                "--log-level=${config:odoo.logLevel}",
            ],
        },
        {
            "label": "~Init Test Database",
            "command": "${config:pythonPath}",
            "problemMatcher": [],
            "args": [
                "${config:odevPath}",
                "create",
                "-f",
                "-V",
                "{{ DB_VERSION }}",
                "${config:odoo.db}_test",
                "--init",
                "${config:odoo.modules}",
                "--log-level=${config:odoo.logLevel}",
            ],
        },
    ]
}
